<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xzy.beans.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_birth" property="userBirth" jdbcType="TIMESTAMP" />
    <result column="user_pic" property="userPic" jdbcType="VARCHAR" />
    <result column="user_creat" property="userCreat" jdbcType="DATE" />
    <result column="user_real" property="userReal" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="CHAR" />
    <result column="user_background" property="userBackground" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, user_name, user_password, user_email, user_tel, user_birth, user_creat, 
    user_real, user_sex, user_pic, user_background
  </sql>

  <select id="checkUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM `user`
    WHERE user_name = #{userName}
  </select>

  <select id="checkUserEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1)
    from user
    where user_email = #{email}
  </select>

  <select id="selectLogin" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
      <include refid="Base_Column_List" />
    from user
    where user_name = #{userName}
    and user_password = #{userPassword}
  </select>

  <select id="selectLoginByEmail" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    where user_email = #{userEmail}
    and user_password = #{userPassword}
  </select>

  <select id="checkUserTel" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1)
    from user
    where user_tel = #{userTel}
  </select>

  <select id="selectLoginByTel" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    where user_tel = #{userTel}
    and user_password = #{userPassword}
  </select>

  <insert id="insert" parameterType="com.xzy.beans.User" >
    insert into user (user_name, user_password,
      user_email, user_tel)
    values (#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR})
  </insert>















  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <!--根据用户名查询user-->
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
     SELECT
    <include refid="Base_Column_List" />
     FROM `user`
     WHERE user_name = #{userName}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.xzy.beans.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="userBirth != null" >
        user_birth,
      </if>
      <if test="userCreat != null" >
        user_creat,
      </if>
      <if test="userReal != null" >
        user_real,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userPic != null" >
        user_pic,
      </if>
      <if test="userBackground != null" >
        user_background,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userBirth != null" >
        #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="userCreat != null" >
        #{userCreat,jdbcType=DATE},
      </if>
      <if test="userReal != null" >
        #{userReal,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=CHAR},
      </if>
      <if test="userPic != null" >
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userBackground != null" >
        #{user_background,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xzy.beans.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userBirth != null" >
        user_birth = #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="userCreat != null" >
        user_creat = #{userCreat,jdbcType=DATE},
      </if>
      <if test="userReal != null" >
        user_real = #{userReal,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=CHAR},
      </if>
      <if test="userPic != null" >
        user_pic = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userBackground != null" >
        user_background = #{userBackground,jdbcType=VARCHAR}
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xzy.beans.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_birth = #{userBirth,jdbcType=TIMESTAMP},
      user_creat = #{userCreat,jdbcType=DATE},
      user_real = #{userReal,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=CHAR},
      user_pic = #{userPic,jdbcType=VARCHAR},
      user_background = #{userBackground,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzy.beans.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_birth = #{userBirth,jdbcType=TIMESTAMP},
      user_creat = #{userCreat,jdbcType=DATE},
      user_real = #{userReal,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

</mapper>